@charset "UTF-8";

/*
    디자인 모듈입니다.

    만든이: 진서영
    날짜: 2023-03-17
*/

/*
    컬러팔렛트
    - 보라색
        - 100%: #776bff
        - 20%: #e4e1ff
        - 5%: #f8f8ff

    - 검은색
        - 100%: #22201e
        - 80%: #4e4d4b
        - 40%: #72706f
        - 3%: #f8f8f8

    - 빨간색
        - 100%: #FF4848
*/

/*
    container 설정
*/

.container-100 {
    width: 100px;
    margin: 0 auto;
}
.container-150 {
    width: 150px;
    margin: 0 auto;
}
.container-200 {
    width: 200px;
    margin: 0 auto;
}
.container-250 {
    width: 250px;
    margin: 0 auto;
}
.container-300 {
    width: 300px;
    margin: 0 auto;
}
.container-350 {
    width: 350px;
    margin: 0 auto;
}
.container-400 {
    width: 400px;
    margin: 0 auto;
}
.container-450 {
    width: 450px;
    margin: 0 auto;
}
.container-500 {
    width: 500px;
    margin: 0 auto;
}
.container-550 {
    width: 550px;
    margin: 0 auto;
}
.container-600 {
    width: 600px;
    margin: 0 auto;
}
.container-650 {
    width: 650px;
    margin: 0 auto;
}
.container-700 {
    width: 700px;
    margin: 0 auto;
}
.container-750 {
    width: 750px;
    margin: 0 auto;
}
.container-800 {
    width: 800px;
    margin: 0 auto;
}
.container-850 {
    width: 850px;
    margin: 0 auto;
}
.container-900 {
    width: 900px;
    margin: 0 auto;
}
.container-950 {
    width: 950px;
    margin: 0 auto;
}
.container-1000 {
    width: 1000px;
    margin: 0 auto;
}
.container-1050 {
    width: 1050px;
    margin: 0 auto;
}
.container-1100 {
    width: 1100px;
    margin: 0 auto;
}
.container-1150 {
    width: 1150px;
    margin: 0 auto;
}
.container-1200 {
    width: 1200px;
    margin: 0 auto;
}

/*
    폭 설정
*/
.w-100 {width: 100%;}
.w-95 {width: 95%;}
.w-90 {width: 90%;}
.w-85 {width: 85%;}
.w-80 {width: 80%;}
.w-75 {width: 75%;}
.w-70 {width: 70%;}
.w-65 {width: 65%;}
.w-60 {width: 60%;}
.w-55 {width: 55%;}
.w-50 {width: 50%;}
.w-45 {width: 45%;}
.w-40 {width: 40%;}
.w-35 {width: 35%;}
.w-33 {width: 33.3333%;}
.w-30 {width: 30%;}
.w-25 {width: 25%;}
.w-20 {width: 20%;}
.w-15 {width: 15%;}
.w-10 {width: 10%;}
.w-5 {width: 5%;}

/*
    외부여백(margin)
    .mv: margin vertical
    .mt: margin-top
    .mb: margin-bottom
    .ms: margin-start(left)
    .me: margin-end(right)
    내부여백(padding)
    .p: padding
    .pt: padding-top
    .pb: padding-bottom
    .ps: padding-start(left)
    .pe: padding-end(right)
*/
.mv-5 {margin: 5px 0;}
.mv-10 {margin: 10px 0;}
.mv-20 {margin: 20px 0;}
.mv-30 {margin: 30px 0;}
.mv-40 {margin: 40px 0;}
.mv-50 {margin: 50px 0;}
.mv-60 {margin: 60px 0;}
.mv-70 {margin: 70px 0;}
.mv-80 {margin: 80px 0;}
.mv-90 {margin: 90px 0;}
.mv-100 {margin: 100px 0;}

.mt-5 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-25 {margin-top: 25px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}
.mt-60 {margin-top: 60px;}
.mt-70 {margin-top: 70px;}
.mt-80 {margin-top: 80px;}
.mt-90 {margin-top: 90px;}
.mt-100 {margin-top: 100px;}

.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}
.mb-40 {margin-bottom: 40px;}
.mb-50 {margin-bottom: 50px;}
.mb-70 {margin-bottom: 70px;}
.mb-80 {margin-bottom: 80px;}
.mb-60 {margin-bottom: 60px;}
.mb-90 {margin-bottom: 90px;}
.mb-100 {margin-bottom: 100px;}

.ms-5 {margin-left: 5px;}
.ms-10 {margin-left: 10px;}
.ms-15 {margin-left: 15px;}
.ms-20 {margin-left: 20px;}
.ms-30 {margin-left: 30px;}
.ms-40 {margin-left: 40px;}
.ms-50 {margin-left: 50px;}
.ms-60 {margin-left: 60px;}
.ms-70 {margin-left: 70px;}
.ms-80 {margin-left: 80px;}
.ms-90 {margin-left: 90px;}
.ms-100 {margin-left: 100px;}

.me-5 {margin-right: 5px;}
.me-10 {margin-right: 10px;}
.me-15 {margin-right: 15px;}
.me-20 {margin-right: 20px;}
.me-30 {margin-right: 30px;}
.me-40 {margin-right: 40px;}
.me-50 {margin-right: 50px;}
.me-60 {margin-right: 60px;}
.me-70 {margin-right: 70px;}
.me-80 {margin-right: 80px;}
.me-90 {margin-right: 90px;}
.me-100 {margin-right: 100px;}

.p-5 {padding: 5px;}
.p-10 {padding: 10px;}
.p-20 {padding: 20px;}
.p-30 {padding: 30px;}
.p-40 {padding: 40px;}
.p-50 {padding: 50px;}
.p-60 {padding: 60px;}
.p-70 {padding: 70px;}
.p-80 {padding: 80px;}
.p-90 {padding: 90px;}
.p-100 {padding: 100px;}

.pt-5 {padding-top: 5px;}
.pt-10 {padding-top: 10px;}
.pt-20 {padding-top: 20px;}
.pt-30 {padding-top: 30px;}
.pt-40 {padding-top: 40px;}
.pt-50 {padding-top: 50px;}
.pt-60 {padding-top: 60px;}
.pt-70 {padding-top: 70px;}
.pt-80 {padding-top: 80px;}
.pt-90 {padding-top: 90px;}
.pt-100 {padding-top: 100px;}

.pb-5 {padding-bottom: 5px;}
.pb-10 {padding-bottom: 10px;}
.pb-20 {padding-bottom: 20px;}
.pb-30 {padding-bottom: 30px;}
.pb-40 {padding-bottom: 40px;}
.pb-50 {padding-bottom: 50px;}
.pb-60 {padding-bottom: 60px;}
.pb-70 {padding-bottom: 70px;}
.pb-80 {padding-bottom: 80px;}
.pb-90 {padding-bottom: 90px;}
.pb-100 {padding-bottom: 100px;}

.ps-5 {padding-left: 5px;}
.ps-10 {padding-left: 10px;}
.ps-20 {padding-left: 20px;}
.ps-30 {padding-left: 30px;}
.ps-40 {padding-left: 40px;}
.ps-50 {padding-left: 50px;}
.ps-60 {padding-left: 60px;}
.ps-70 {padding-left: 70px;}
.ps-80 {padding-left: 80px;}
.ps-90 {padding-left: 90px;}
.ps-100 {padding-left: 100px;}

.pe-5 {padding-right: 5px;}
.pe-10 {padding-right: 10px;}
.pe-20 {padding-right: 20px;}
.pe-30 {padding-right: 30px;}
.pe-40 {padding-right: 40px;}
.pe-50 {padding-right: 50px;}
.pe-60 {padding-right: 60px;}
.pe-70 {padding-right: 70px;}
.pe-80 {padding-right: 80px;}
.pe-90 {padding-right: 90px;}
.pe-100 {padding-right: 100px;}

/*
    row 간격 설정
*/
.row {
    margin: 10px 0px;
}
.row-large {
    margin-bottom: 65px;
}
.row-medium {
    margin-bottom: 16px;
}

/*
    내부 요소 정렬
*/
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}

/*
    버튼 디자인(form-btn)
    - 버튼은 small, medium, large 사이즈로 분류되어 있습니다.
    - 용도에 따라 positive, neutral로 분류되어 있습니다.
*/
.form-btn {
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
}
.form-btn.large {
    font-size: 18px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-width: 2px;
    border-style: solid;
}
.form-btn.medium {
    font-size: 15px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-width: 2px;
    border-style: solid;
}
.form-btn.small {
    font-size: 13px;
    padding: 0.75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-width: 2px;
    border-style: solid;
}
.form-btn.positive {
    background-color: #776BFF;
    border-color: #776BFF;
    color: white;
}
.form-btn.neutral {
    background-color: white;
    border-color: #776BFF;
    color: #776BFF;
}

/*
    a태그 디자인
*/
a.link {
    color: #22201E;
    text-decoration: none;
    cursor: pointer;
}
a.link:hover {
    color: #776BFF;
}
a.form-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}
a.form-btn.large {
    font-size: 18px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-width: 2px;
    border-style: solid;
}
a.form-btn.medium {
    font-size: 15px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-width: 2px;
    border-style: solid;
}
a.form-btn.small {
    font-size: 13px;
    padding: 0.75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-width: 2px;
    border-style: solid;
}
a.form-btn.positive {
    background-color: #776BFF;
    border-color: #776BFF;
    color: white;
}
a.form-btn.neutral {
    background-color: white;
    border-color: #776BFF;
    color: #776BFF;
}

/*
    입력창 디자인(form-input)
    - 입력창은 small, medium, large 사이즈로 분류되어 있습니다.
    - 디폴트로 양 끝이 완전히 둥근 모양이고, 모서리만 깎은 semi-round가 있습니다.
    - 디폴트로 테두리 색이 진하고, 흐린 light가 있습니다(light는 hover시 컬러가 변경됩니다).
*/
.form-input {
    outline: none;
    border-radius: 50px;
    padding-left: 1.3em;
    padding-right: 1.3em;
    border-color: #776BFF;
}
.form-input.semi-round {
    border-radius: 10px;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.form-input.light {
    border-color: #e4e1ff;
}
.form-input.light:focus {
    border-color: #776BFF;
}
.form-input.large {
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-width: 2px;
    border-style: solid;
}
.form-input.medium {
    font-size: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-width: 2px;
    border-style: solid;
}
.form-input.small {
    font-size: 13px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-width: 2px;
    border-style: solid;
}

/*
    검색창(form-input-search)
    - 검색창은 부모 div(search-box), 자식 input(search-input)/button(search-btn)으로 만듭니다.
    - html 코드 예시
        <div class="row">
<<<<<<< HEAD
            <div class="search-box">
                <input class="search-input w-100">
                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
=======
            <div class="parent">
                <input class="search w-100">
                <button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
>>>>>>> refs/remotes/origin/main
            </div>
        </div>
*/
.search-box {
    border: 2px solid #776bff;
    border-radius: 100px;
    display: flex;
}
.search-input {
    color: #22201e;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    border: none;
    outline: none;
    background: none;
}
.search-btn {
    font-size: 23px;
    color: #776bff;
    width: 50px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

/*
    체크박스 디자인
*/
input[type="checkbox"] {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 2px solid #776bff;
    appearance: none;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background: #776bff;
    border: 2px solid #776bff;
  }

/*
    글자 스타일
*/
/* 글자색 */
.c-p100 {
    color: #776BFF;
}
.c-p20 {
    color: #e4e1ff;
}
.c-p5 {
    color: #f8f8ff;
}
.c-b100 {
    color: #22201e;
}
.c-b80 {
    color: #4e4d4b;
}
.c-b40 {
    color: #72706f;
}
.c-b3 {
    color: #f8f8f8;
}
.c-r3 {
    color: #FF4848;
}

/* 글자 크기 */
.font-h1 {
    font-size: 2em;
}
.font-h2 {
    font-size: 1.5em;
}
.font-h3 {
    font-size: 1.17em;
}
.font-h4 {
    font-size: 1em;
}
.font-h5 {
    font-size: 0.83em;
}
.font-h6 {
    font-size: 0.67em;
}

/*
    표
    - QnA 게시판에서 쓰이는 표
        - 메인클래스 table을 붙이고 그 뒤에 서브클래스 table-qna를 지정해주시면 됩니다.
    - 장바구니에서 쓰이는 표
        - 메인클래스 table을 붙이고 그 뒤에 서브클래스 table-cart를 지정해주시면 됩니다.
*/
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    padding: 0.5em;
}
.table.table-qna > thead {
    border-bottom: 1.5px solid #4e4d4b;
}
.table.table-qna > tfoot {
    border-bottom: 1.5px solid #4e4d4b;
    border-top: 1.5px solid #4e4d4b;
}
.table.table-qna > tbody > tr {
    border-bottom: 1px solid #72706f;
}
.table.table-cart > tbody > tr > th {
    padding: 1em;
}
.table.table-cart > tbody > tr > td {
    padding: 1.5em;
}
.table.table-cart > tbody > tr {
    border-top: 1.5px solid #72706f;
    border-bottom: 1.5px solid #72706f;
}

/*
    페이지네이션
    - 페이지네이션이 들어갈 div의 클래스에 pagenation만 붙이면 아래 설정들이 다 따라옵니다.
    - html 코드 예시
        <div class="row">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">&lt;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="on">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#">&gt;</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
*/
.pagenation {
    text-align: center;
}
.pagination > a {
    display: inline-block;
    color: #4e4d4b;
    text-decoration: none;
    font-size: 16px;
    min-width: 2.25em;
    height: 2.25em;
    padding: 0.4em;
    text-align: center;
    border-radius: 100px;
}
.pagination > a.on {
    box-shadow: 0px 0px 0px 1px #776bff;
    color: #4e4d4b;
}
.pagination > a:hover:not(.disabled) {
    background-color: #f8f8ff;
}
.pagination > a.disabled {
    background-color: #f8f8f8;
    color: #72706f;
    cursor: default;
}

/*
    qty-stepper
    - 상품 수량조절하는 카운트네비게이션입니다.
    - 사이즈는 추후 페이지 디자인 시 변경되어야 할 수 있습니다.
    - html 코드 작성 예시
        <div class="flex qty-stepper center">
            <span class="minus">-</span>
            <span class="number">1</span>
            <span class="plus">+</span>
        </div>
*/
.qty-stepper {
    width: 100px;
    border-radius: 100px;
    border: 2px solid #776bff;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    flex-grow: 1;
    font-size: 16px;
}
.qty-stepper > .number {
    width: 40px;
    cursor: default;
}
.qty-stepper > .minus,
.qty-stepper > .plus {
    width: 24px;
    border-radius: 100px;
    cursor: pointer;
}
.qty-stepper > .minus.disabled,
.qty-stepper > .plus.disabled {
    border-radius: 100px;
    color: #72706f;
    background-color: #f8f8f8;
    cursor: default;
}
.qty-stepper > .minus:hover:not(.disabled),
.qty-stepper > .plus:hover:not(.disabled) {
    background-color: #f8f8ff;
    cursor: pointer;
}

.qty-stepper-small {
    width: 90px;
    border-radius: 100px;
    border: 2px solid #776bff;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    flex-grow: 1;
    font-size: 13px;
}
.qty-stepper-small > .number {
    width: 37px;
    cursor: default;
}
.qty-stepper-small > .minus,
.qty-stepper-small > .plus {
    width: 21.5px;
    border-radius: 100px;
    cursor: pointer;
}
.qty-stepper-small > .minus.disabled,
.qty-stepper-small > .plus.disabled {
    border-radius: 100px;
    color: #72706f;
    background-color: #f8f8f8;
    cursor: default;
}
.qty-stepper-small > .minus:hover:not(.disabled),
.qty-stepper-small > .plus:hover:not(.disabled) {
    background-color: #f8f8ff;
    cursor: pointer;
}

/*
    표
    - QnA 게시판에서 쓰이는 표입니다.
    - 메인클래스 table을 붙이고 그 뒤에 서브클래스 table-qna를 지정해주시면 됩니다.
*/
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    padding: 0.5em;
}
.table.table-qna > thead {
    border-bottom: 1.5px solid #4e4d4b;
}
.table.table-qna > tfoot {
    border-bottom: 1.5px solid #4e4d4b;
    border-top: 1.5px solid #4e4d4b;
}
.table.table-qna > tbody > tr {
    border-bottom: 1px solid #72706f;
}

/*
    페이지네이션
    - 페이지네이션이 들어갈 div의 클래스에 pagenation만 붙이면 아래 설정들이 다 따라옵니다.
    - html 코드 예시
        <div class="row">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">&lt;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="on">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#">&gt;</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
*/
.pagenation {
    text-align: center;
}
.pagination > a {
    display: inline-block;
    color: #4e4d4b;
    text-decoration: none;
    font-size: 16px;
    min-width: 2.25em;
    height: 2.25em;
    padding: 0.4em;
    text-align: center;
    border-radius: 100px;
}
.pagination > a.on {
    box-shadow: 0px 0px 0px 1px #776bff;
    color: #4e4d4b;
}
.pagination > a:hover:not(.disabled) {
    background-color: #f8f8ff;
}
.pagination > a.disabled {
    background-color: #f8f8f8;
    color: #72706f;
    cursor: default;
}

/*
    qty-stepper
    - 상품 수량조절하는 카운트네비게이션입니다.
    - 사이즈는 추후 페이지 디자인 시 변경되어야 할 수 있습니다.
    - html 코드 작성 예시
        <div class="flex qty-stepper center">
            <span class="minus">-</span>
            <span class="number">1</span>
            <span class="plus">+</span>
        </div>
*/
.qty-stepper {
    width: 100px;
    border-radius: 100px;
    border: 2px solid #776bff;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    flex-grow: 1;
    font-size: 16px;
}
.qty-stepper > .number {
    width: 40px;
    cursor: default;
}
.qty-stepper > .minus,
.qty-stepper > .plus {
    width: 24px;
    border-radius: 100px;
    cursor: pointer;
}
.qty-stepper > .minus.disabled,
.qty-stepper > .plus.disabled {
    width: 24px;
    border-radius: 100px;
    color: #72706f;
    background-color: #f8f8f8;
    cursor: default;
}
.qty-stepper > .minus:hover:not(.disabled),
.qty-stepper > .plus:hover:not(.disabled) {
    background-color: #f8f8ff;
    cursor: default;
}

.qty-stepper-small {
    width: 90px;
    border-radius: 100px;
    border: 2px solid #776bff;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    flex-grow: 1;
    font-size: 13px;
}
.qty-stepper-small > .number {
    width: 37px;
    cursor: default;
}
.qty-stepper-small > .minus,
.qty-stepper-small > .plus {
    width: 21.5px;
    border-radius: 100px;
    cursor: pointer;
}
.qty-stepper-small > .minus.disabled,
.qty-stepper-small > .plus.disabled {
    border-radius: 100px;
    color: #72706f;
    background-color: #f8f8f8;
    cursor: default;
}
.qty-stepper-small > .minus:hover:not(.disabled),
.qty-stepper-small > .plus:hover:not(.disabled) {
    background-color: #f8f8ff;
    cursor: pointer;
}