<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/load.css">
    <!-- font awsome 아이콘 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- tabler 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/commons.css">
    <link rel="stylesheet" type="text/css" href="css/test.css">
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .container {
            display: grid;
            place-items: center;
            min-height: 100vh;
        }
        .ti-error-404 {
            color: #776bff;
            font-size: 150px;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            
        });
    </script>
    <title>404</title>
</head>
<body>
    <div class="container-1000 container">
        <div class="w-100">
            <div class="center">
                <i class="ti ti-error-404"></i>
            </div>
            <div class="center mb-50">
                <h2>페이지를 찾을 수 없습니다.</h2>
            </div>
            <div class="w-100 center">
                <a class="form-btn positive medium w-50" href="">메인으로</a>
            </div>
        </div>
    </div>
</body>
</html>
