<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/load.css">
    <!-- font awsome 아이콘 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- tabler 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/commons.css">
    <link rel="stylesheet" type="text/css" href="css/test.css">
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .logo {
            margin: 0;
            padding: 0;
            border: 0;
            /* font-size: 100%;
            font: inherit; */
            font-family: inherit;
            vertical-align: baseline;
        }
        .search-box {
            margin-top: 8px;
        }
        .custom-size {
            font-size: 25px;
        }
        .menu-btn,
        .close-btn {
            font-size: 40px;
            margin-top: 3px;
            cursor: pointer;
        }
        .close-btn {
            font-size: 53px;
        }
        .fa-chevron-right {
            margin-top: 10px;
        }
        .row.large {
            margin: 20px 0px;
        }
        .menu-item {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            border-radius: 100px;
            cursor: pointer;
        }
        .menu-item:hover {
            background-color: #f8f8ff;
        }
        .fa-cart-shopping,
        .fa-user {
            margin-top: 12px;
            font-size: 30px;
        }
        .social {
            vertical-align: middle;
            margin-top: 30px;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            $(".side-menu").hide();
            $(".close-btn").hide();
            $(".menu-btn").click(function() {
                $(".menu-btn").hide();
                $(".close-btn").show();
                $(".side-menu").show();
            })
            $(".close-btn").click(function() {
                $(".close-btn").hide();
                $(".menu-btn").show();
                $(".side-menu").hide();
            })
        })
    </script>
    <title>SEMI</title>
</head>
<body>
    <main>
        <div id="wrapper">
        <header style="border-bottom: 0.5px solid #72706f;">
            <div class="container-1000">
                <div class="flex">
                    <div class="flex w-25">
                        <div class="w-20">
                            <i class="fa-solid fa-bars fa-2x c-p100 menu-btn"></i>
                            <i class="fa-solid fa-xmark fa-2x c-p100 close-btn"></i>
                        </div>
                        <div class="w-100 center">
                                <h1 class="c-p100 logo" style="font-size: 50px;">
                                    <a class="link" style="color: #776BFF;" href="/">SEMI</a>
                                </h1>
                        </div>
                    </div>
                    <div class="center w-60">
                        <div class="search-box">
                            <input class="search-input w-100">
                            <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                    <!-- <div class="center w-50">
                        <input type="text" class="form-input-search w-100" style="margin-top: 14px;">
                    </div> -->
                    <div class="right w-15">
                        <a class="link" href="#">
                            <i class="fa-solid fa-cart-shopping c-p100 pe-30"></i>
                        </a>
                        <a class="link" href="#">
                            <i class="fa-solid fa-user c-p100"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <aside class="side-menu">
            <div class="container-1000 flex">
                <div class=""></div>
                <div class="row w-30">
                    <a class="link" href="#">
                        <div class="row large flex menu-item">
                            <div class="w-85">
                                <div class="font-h2">면역력</div>
                            </div>
                            <div class="w-15 right pe-20">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link" href="#">
                        <div class="row large flex menu-item">
                            <div class="w-85">
                                <div class="font-h2">피부</div>
                            </div>
                            <div class="w-15 right pe-20">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link" href="#">
                        <div class="row large flex menu-item">
                            <div class="w-85">
                                <div class="font-h2">활력</div>
                            </div>
                            <div class="w-15 right pe-20">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link" href="#">
                        <div class="row large flex menu-item">
                            <div class="w-85">
                                <div class="font-h2">헤어</div>
                            </div>
                            <div class="w-15 right pe-20">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link" href="#">
                        <div class="row large flex menu-item">
                            <div class="w-85">
                                <div class="font-h2">다이어트</div>
                            </div>
                            <div class="w-15 right pe-20">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link" href="#">
                        <div class="row large flex menu-item">
                            <div class="w-85">
                                <div class="font-h2">위</div>
                            </div>
                            <div class="w-15 right pe-20">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link" href="#">
                        <div class="row large flex menu-item">
                            <div class="w-85">
                                <div class="font-h2">안티에이징</div>
                            </div>
                            <div class="w-15 right pe-20">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w-70"></div>
            </div>
            
        </aside>
        <section>
            <article>
            <!---------------------------------------------------->

            <!----------------------메인컨텐츠---------------------->
            <div class="container-1000">
                <div class="row pt-10">
                    Elit pellentesque habitant morbi tristique senectus et netus et malesuada. Iaculis eu non diam phasellus vestibulum. Sed adipiscing diam donec adipiscing tristique risus nec feugiat in. Auctor eu augue ut lectus arcu bibendum. Vel quam elementum pulvinar etiam non quam. Elementum pulvinar etiam non quam lacus suspendisse faucibus. Fringilla ut morbi tincidunt augue interdum velit. Cursus in hac habitasse platea dictumst. Pharetra vel turpis nunc eget lorem dolor. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Nunc sed velit dignissim sodales ut. Tortor at auctor urna nunc id cursus metus. Faucibus turpis in eu mi. Diam in arcu cursus euismod quis viverra.
                </div>
            </div>
            <!---------------------------------------------------->
            </article>
        </section>
    </div>
        <footer>
            <div class="container-1000">
                <div class="row flex">
                    <div class="w-50">
                        <h1 class="c-p100">SEMI</h1>
                    </div>
                    <div class="w-50 right">
                        <a class="link" href="#">
                            <i class="fa-brands fa-square-facebook custom-size social me-5"></i>
                        </a>
                        <a class="link" href="#">
                            <i class="fa-brands fa-instagram custom-size social me-5"></i>
                        </a>
                        <a class="link" href="#">
                            <img class="social" width="23px" height="23px" src="./image/katalk.png">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        사업장 번호 : 111-22-33333
                    </div>
                    <div class="row">
                        위치 : 서울특별시 영등포구 선유동2로 57 이레빌딩 19층 C강의장
                    </div>
                    <div class="row">
                        대표 번호 : 02)444-5555 / 010)6666-7777
                    </div>
                </div>
            </div>
        </footer>
    </main>
</body>
</html>