<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/load.css">
    <!-- font awsome 아이콘 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- tabler 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/commons.css">
    <link rel="stylesheet" type="text/css" href="css/test.css">
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>

    </style>
    <script type="text/javascript">

    </script>
    <title>SEMI 상품등록</title>
</head>
<body>
    <div class="container-1000">
        <form>
            <div class="row">
                <h1>상품 등록</h1>
            </div>
            <div class="row">
                <input hidden name="productNo" value="">
                <label>상품명</label>
                <input type="text" class="form-input small w-100" name="productName">
            </div>
            <div class="row">
                <label>브랜드</label>
                <input type="text" class="form-input small w-100" name="productBrand">
            </div>
            <div class="row">
                <label>가격</label>
                <input type="text" class="form-input small w-100" name="productPrice">
            </div>
            <div class="row">
                <label>재고</label>
                <input type="text" class="form-input small w-100" name="productStock">
            </div>
            <div class="row">
                <label>상품 설명</label>
                <input type="text" class="form-input small w-100" name="productContent">
            </div>
            <div class="row">
                <label>배송비</label>
                <input type="text" class="form-input small w-100" name="productDeleveryPrice">
            </div>
            <div class="row">
                <label>판매수량</label>
                <input type="text" class="form-input small w-100" name="productSellCount">
            </div>
            <div class="row">
                <label>등록일</label>
                <input type="date" class="form-input small w-100" name="productJoin">
            </div>
            <div class="row">
                <label>대표이미지</label>
                <input type="file" class="form-input small w-100" name="img" accept="image/">
            </div>
        </form>
    </div>
</body>
</html>
