<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/load.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/commons.css">
    <link rel="stylesheet" type="text/css" href="css/test.css">
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Document</title>
</head>
<body test>
    <h1>positive btns</h1>
    <button class="form-btn large positive">large</button>
    <button class="form-btn medium positive">medium</button>
    <button class="form-btn small positive">small</button>
    <hr>
    <h1>neutral btns</h1>
    <button class="form-btn large neutral">large</button>
    <button class="form-btn medium neutral">medium</button>
    <button class="form-btn small neutral">small</button>
    <hr>
    <h1>deep inputs</h1>
    <input type="text" class="form-input large deep round">
    <input type="text" class="form-input medium deep round">
    <input type="text" class="form-input small deep round">
    <input type="text" class="form-input large deep semi-round">
    <input type="text" class="form-input medium deep semi-round">
    <input type="text" class="form-input small deep semi-round">
    <hr>
    <h1>light inputs</h1>
    <input type="text" class="form-input large light round">
    <input type="text" class="form-input medium light round">
    <input type="text" class="form-input small light round">
    <input type="text" class="form-input large light semi-round">
    <input type="text" class="form-input medium light semi-round">
    <input type="text" class="form-input small light semi-round">
    <hr>
    <h1 class="font-purple">타이틀</h1>
    <div class="font-purple">본문</div>
    <hr>
    <div class="container-500 mb-40">
        <input type="text" class="form-input-search w-100">
    </div>
    <div class="container-500 mb-40">
        <input type="text" class="form-input-search small w-100">
    </div>
    <div class="container-800 mb-40">
        <div class="row">
            <select class="form-input round deep large">
                <option>11111</option>
                <option>2</option>
                <option>3</option>
            </select>
            <input type="text" class="form-input-search w-50">
            <button class="form-btn large positive w-20">입력</button>
        </div>
    </div>
    </div>
</body>
</html>